<div class="container-fluid w-75">
  <div class="row">
    <div class="col-12 pt-5">
      <div class="row">
        <div
          class="col-12 mb-5 position-relative"
          style="background-color: #111; height: 100px"
          data-aos="fade-up"
        >
          <div
            class="row form-inline position-absolute top-50 start-50 translate-middle w-100 ps-3"
          >
            <div class="col-2 input-group" style="width: 18%;">
              <input
              id="name"
              class="form-control"
              type="text"
              placeholder="Hero Name"
              aria-label="default input example"
              [(ngModel)]="name"
               
              />
              <button class="btn btn-danger" type="button" id="button-addon2" (click)="name = ''">clear</button>
            </div>
            <div class="col-2 input-group" style="width: 18%;" >
              <input
                id="power"
                class="form-control"
                type="text"
                placeholder="Power"
                aria-label="default input example"
                [(ngModel)]="power"
              />
              <button class="btn btn-danger" type="button" id="button-addon2" (click)="power=''">clear</button>
            </div>
            <div class="col-3 input-group" style="width: 25%;" >
              <input
                id="image"
                class="form-control"
                type="file"
                placeholder="Image"
                aria-label="default input example"
                (change)="convertImage($event)"
                [(ngModel)]="image"
              />
              <button class="btn btn-danger" type="button" id="button-addon2" (click)="image = ''">clear</button>
            </div>
            <div class="col-2 " style="width: 175px;">
              <div class="btn btn-primary w-75" id="create" (click)="create()">
                Create
              </div>
            </div>
            <div class="col-2"style="width: 175px;">
              <div class="btn btn-primary w-75" id="Delete" (click)="Delete()">
                Delete
              </div>
            </div>
            <div class="col-2"style="width: 175px;">
              <div class="btn btn-primary w-75" id="Update" (click)="Update()">
                Update
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex flex-row flex-wrap">
            <div
              *ngFor="let item of heroServ.hero"
              class="card ms-4 mb-4"
              style="width: 18rem"
              (click)="selectItem(item)"
              [ngStyle]="{'background-color':item.power >=1 && item.power < 10?'#1C5D99'
                                                :item.power >= 10 && item.power <20?'#639FAB':
                                                item.power >=20 && item.power <30?'#BBCDE5':'#E85F5C',
                          'border':selectedHero?.id == item.id?'5px solid white':''                     
                        } "
            >
              <img [src]="item.image" class="card-img-top" [alt]="item.name" height="200px"/>
              <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
