<div class="row">
    <div class="col-12 d-flex flex-row flex-wrap">
      <div
        *ngFor="let item of heroServ.hero"
        class="card ms-4 mb-4"
        style="width: 18rem"
        [ngStyle]="{'background-color':item.power >=1 && item.power < 10?'#1C5D99'
                                          :item.power >= 10 && item.power <20?'#639FAB':
                                          item.power >=20 && item.power <30?'#BBCDE5':'#E85F5C'             
                  } "
      >
        <img [src]="item.image" class="card-img-top" [alt]="item.name" height="200px"/>
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
        </div>
      </div>
    </div>
  </div>
